.hero-area {
  width: 98.5vw;
  height: 97vh;
  background: linear-gradient(0deg, rgb(34 34 34 / 42%), rgb(106 106 106 / 30%)),
  url(../../image/2.jpg) no-repeat center center/cover;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content:center;
  text-align: center;
  margin-top: -100px;
  z-index: -1;
}
h1 {
  text-align: center;
}
.services > h2 {
  text-align: center;
  font-size: 32px;
  line-height: 43px;
  font-weight: 800;
  margin-bottom: 26px;
  color: black;
}
.services > span {
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(216, 99, 3);
}
h1 {
  font-size: 70px !important;
  line-height: 72px;
  text-align: left;
  font-weight: 800;
}
.hero-btn {
  background: rgb(216, 99, 3);
  color: #fff;
  padding: 11px 35px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  line-height: 26px;
  border: none;
  margin-right: 20px;
}

.learn-btn {
  background: darkblue;
  color: #fff;
}

.nav-link {
  font-weight: 600 !important;
  font-size: 15px;
  line-height: 26px;
  color: #07294d !important;
  padding: 10px 20px !important;
}

.services {
  margin-top: 100px;
  margin-bottom: 100px;
}
.btn-wrapper {
  display: block;
  align-items: center;
  text-align: center;
  margin: 50px 0px;
}
