.container{
    max-width: 1270px !important;
}
.same-btn {
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    text-decoration: none;
    background: red;
    transition: all ease .3s;
    border: none;
}
.same-btn:hover{
    background: #000;
    color: #fff;
}